
.certs/

Temperature Data/

.idea/

__pycache__/

Field_Inputs/

Rain Data/

Solar Data/

COSMOS-UK_SPENF_HydroSoil_Daily_2013-2019.csv

cosmos_vsc_data.csv

precipitation_data.csv

solar_irradiation_data.csv
