
.certs/

Temperature Data/

.idea/

__pycache__/

Field_Inputs/

Rain Data/

Solar Data/

COSMOS-UK_SPENF_HydroSoil_Daily_2013-2019.csv

cosmos_vsc_data.csv

cosmos_vwc_data.csv

precipitation_data.csv

solar_irradiation_data.csv

solar_irad_&_albedo_data.csv

ndvi.csv

temperature_data.csv

Full Rain Data/

Full Solar Data/

Full Temperature Data/

SPENF-2016-11-24-2021-09-05.csv/